
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" href="/r/chicken">Chickens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/r/soccer">Soccer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/r/mightyharvest">Mighty Harvest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/cats">Cats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/random">Random</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
  </div>
</body>
</htm>