<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Homepage!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
      aliquam! Facilis ipsam assumenda possimus eaque repellat officiis sit
      iure, vel laborum quibusdam distinctio, minima aut. Quos illo tempore
      natus commodi!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores,
      provident ut repellendus odit corrupti quisquam? Quia voluptates saepe
      quod, aut adipisci ut error. Perspiciatis doloribus quibusdam atque
      dolores amet.
    </p>
  </body>
</html>
